<!DOCTYPE html>
<html lang="en">

<head>
    {% include "product/shared/partials/_head.html" %}
</head>

<body>
    {% include "product/shared/partials/_preloader.html" %}
    <header class="header">
        {% include "product/shared/partials/_topbar.html" %}
        {% include "product/shared/partials/_middlebar.html" %}
        {% include "product/shared/partials/_navbar.html" %}
    </header>

    <main class="main">
        {% block content %}{% endblock %}
    </main>

    {% include "product/shared/partials/_footer.html" %}
    {% include "product/shared/partials/_scroll.html" %}
    {% include "product/shared/partials/_modal_shop.html" %}
    {% include "product/shared/partials/_scripts.html" %}
</body>

</html>